.singleBlog{
height: 200px;
text-align: center;
border: dotted 1px black;
}

.hideblogCreate {

display: none;

  }


  .buttons{
    display: flex;

    justify-content: space-around;
  }
  .uptBtn{
    background-color: greenyellow;
  }
  .dltBtn{
    background-color: red;
  }